*{padding: 0;
	margin: 0;
}

body{
	height: 100%;
}

header{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 50%;
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-color:black ;
	background-image:url(background-img.jpg) ;
}

.logo {
grid-area:1/1/2/2;
margin-top: 10%;
margin-left:20%;
font-family: 'Sonsie One', cursive;
font-size: 25px;
color: white;
}

nav{
	grid-area:1/3/2/5; 
	margin-top:10%;
	margin-right:20%;
}

.menu-wrap{
	list-style: none;
	display: flex;
	justify-content: space-around;

}
.menu_item {
	font-family: 'Inter', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Sonsie One', cursive;
	text-decoration: none;
	color: white;
	font-size: 20px;
}
.start-text {
	grid-area:1/2/3/4;
	text-align: center;	
	color: white;
}
.start-text_headline {
	font-family: 'Sonsie One', cursive;
	font-size: 70px;
	margin-top: 200px;
	font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sonsie One', cursive;
}
.start-text_down-text {
	font-size:45px;
	margin-top: 600px;
	 
	
	 
}

.wrapper{}

.about-us { }
.about-us_headline { }
.about-us_base-text { }
.about-us_additional-text { }
.photo-author_wrap { }
.photo-author { }
.photo-author_text { }
.photo-author_text_headline { }
.photo-author_text_baseline { }
.proud { }
.proud_headline { }
.proud_grid1 { }
.proud_cause-proud_headline- { }
.proud_cause-proud_base-text { }
.proud_cause-proud_img {
	width: 50px;
 }
.proud_grid2 { }
.proud_cause-proud_headline { }
.proud_grid3 { }
.proud_grid4 { }