*{padding: 0;
	margin: 0;
}

body{
	height: 100%;
}

header{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 60px 1fr 1fr;
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-color:black ;
	background-image:url(background-img.jpg) ;
	color: white;
}

nav{
	grid-area:1/1/2/5; 
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	z-index:1;
	width: 100%;
	position:fixed;
	}

	.logo {
margin-left:20%;
font-family: 'Qwitcher Grypen', cursive;
font-size: 50px;
grid-area:1/1/2/1 ;
}

.menu-wrap{
	list-style: none;
	grid-area:1/3/1/5  ;
	display: flex;
	justify-content: space-around;
	align-items:center;
}
.menu_item {
	text-decoration: none;
	 color: white;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}
.start-text {
	grid-area:1/1/3/5;
	text-align: center;	 
}
.start-text_headline {
	font-family: 'Qwitcher Grypen', cursive;
	font-size: 1000%;
	margin-top: 3%;
}
.start-text_down-text {
	font-size:45px;
	font-family: 'Jura', sans-serif;
	position: absolute;
	bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;	 
}

main{
	display: grid;
	grid-template-columns:10% 1fr 10%;
	grid-auto-rows: auto;
}
.about-us {
grid-area: 1/2/1/3;
font-size: 19px;
}

.about-us_headline {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 80px;
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
}

.text-wrap{
	position: relative;
	line-height:2em ;
	font-family: Georgia;
}

.about-us_base-text {
width:60%;
padding: 10px;
}

.about-us_additional-text {
	width:60%;	
	border: solid rgb(230, 166, 205);
	padding: 10px;
}

.about-us_additional-text p{
	margin-bottom:20px; 
}

.photo-author_wrap { 
	position: absolute;
	left: 70%;
	top:0px
}

.photo-author { 
 width: 200px;
 border-radius: 5px;
}

.photo-author_text_headline {
	font-weight: bold;
	text-align: center;
	padding: 5px;
	font-family: 'Open Sans', sans-serif;
 }
.photo-author_text_baseline {
	text-align: center;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}


.proud_headline { 
	grid-area: 2/2/3/3;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 80px;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
}

.proud {
	grid-area: 3/2/4/3;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows:repeat(2, 1fr);
}

.proud_element{
	position: relative;
	margin: 30px;
	padding: 0;
}

.proud_element h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: bolder;	
	padding-bottom: 20px;
}

.proud_element p{
	width: 70%;
	line-height:2em ;
	font-family: Georgia;
}
.img-background{
	position: absolute;
	left: 70%;
	top: 30%;
	height: 100px;
	width: 100px;
	border-radius: 50px;
	background-color: rgb(236, 230, 231);
	display: flex;
	justify-content: center;
	align-items
: center;
}
.proud_element img{
	width:50%;
	height: 50%;	
}


.link-to-catalog{
	grid-area: 4/1/5/4;
	background-color: rgb(226, 181, 207);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
	position: relative;
	
}
	.link-to-catalog_wrap-element{
		position: relative;
		display:grid;
		grid-template-rows: 1fr 1fr;
		justify-items: center;
		color: white;
	}
	
	.link-to-catalog_wrap-element:hover{
	 opacity:0.8;
	}


.link-to-catalog h2 {
	position: absolute;	
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	font-weight: bolder;	
	padding-top: 10%;
	text-shadow: 1px 1px 2px rgb(3, 0, 7), 0 0 1em rgb(243, 152, 193), 0 0 0.2em rgb(112, 112, 234);
}

.link-to-catalog button{
	position: absolute;	
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background-color: transparent;
	font-weight: bolder;
	grid-row-start: 2;
	border: solid white 1px;
	border-radius:5px;
	padding:5px 15px ;
	color: white;
	overflow: hidden;
	box-shadow: 0 0 10px rgb(237, 159, 200);
	text-shadow: 1px 1px 2px rgb(3, 0, 7), 0 0 1em rgb(243, 152, 193), 0 0 0.2em rgb(112, 112, 234);
}

.link-to-catalog button:hover{
	background-color:rgb(240, 161, 211);	
}

.link-to-catalog button:focus{
	transform: translateX(10px);
}

.link-to-catalog_item{
	height:100%;
	width: 100%;
	grid-row: 1/3;
}
 
.make-order{
	grid-area: 5/2/6/3;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content:center
}

.make-order_content{
	width: 33%;
}
.make-order h2 {
	padding-top: 10%;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	width: 100%;
}

.make-order img{
	width:100px;
	margin-top:10%;
}
 
.make-order_content h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin-top:3%;
	font-weight: bolder;
}
.make-order ul{
	margin-top: 2%;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	list-style-position:inside;
}

ol{
	margin-top: 2%;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	list-style-position:inside;
}

ol li::marker {
	font-weight: bolder;
}

.list-style-type-none{
	list-style-type:none
	 }

.maps-wrapper{
	grid-area: 6/1/7/4;
	position: relative;
}

iframe{
	margin-top:4%;
	width: 100%;
}

.maps-text{
	position: absolute;
	width: 40%;
	height: 40%;
	border: white;
	z-index: 2;
}